/* Konfirmasi Saldo CA Specific Styles */
@import url('../common.css');

.form-check-input:indeterminate {
    background-color: #007bff;
    border-color: #007bff;
}

.fa-2x {
    font-size: 2em;
}

.card-body .d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-self-center {
    align-self: center !important;
}

.text-right {
    text-align: right !important;
}
